<div class="main">
    <div class="maincard">
        {{#if error}}
        <p class="alert alert-danger">{{error}}</p>
        {{/if}}

        {{#if fichaM}}
        <form action="/user/edit/update" method="post">
            <input type="hidden" name="idmonstro" value="{{fichaM._id}}">
            Name: <br>
            <input type="text" name="nome" value="{{fichaM.nome}}"> 
            </br>
            Damage: <br>
            <input type="number" name="damage" value="{{fichaM.damage}}">
            </br>
            Piercing: <br>
            <input type="number" name="piercing" value="{{fichaM.piercing}}">
            </br>
            Incoming Boost: <br>
            <input type="number" name="incomingbo" value="{{fichaM.incomingboost}}">
            </br>
            Resist: <br>
            <input type="number" name="resist" value="{{fichaM.resist}}">
            </br>
            <br>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>

        </form>
        {{/if}}
    </div>
</div>