<div class="main">
    <div class="maincard">
        {{#if error}}
        <p class="alerta-msg">{{error}}</p>
        {{/if}}

        {{#if fichaMonster}}
        <form action="/user/monster/register" method="post">
            Damage: <br>
            <input type="number" name="damage" value="{{damage}}">
            </br>
            Piercing: <br>
            <input type="number" name="piercing" value="{{piercing}}">
            </br>
            Incoming Boost: <br>
            <input type="number" name="incomingbo" value="{{incomingboost}}">
            </br>
            Resist: <br>
            <input type="number" name="resist" value="{{resist}}">
            </br>
            <br>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
        {{/if}}
    </div>
</div>