<script>
    async function excluirM(idMonstro) {
        try {
            const deletemonster = await fetch(`/user/${idMonstro}`, {
                method: 'DELETE',
            });

            if(deletemonster.status == 200){
                console.log("Deletado")
                window.location.reload();
            }
            
        } catch (error) {
            return console.log(error);
        }
    }
</script>

<section class="listamonstros">
    {{#each fichaMonster}}
    <div class="card text-center mb-3 text-bg-dark mb-3 cardlistamonstros" style="margin: 15px 15px;">
        <div class="card-body">
            <h5 class="card-title">Monstro name</h5>
            <img src="\img\t1.png" class="img-card" style="width: 150px;" alt="...">
        </div>
        <ul class="list-group list-group-flush">
            <input type="hidden" name="idmonstro" value="{{_id}}">
            <li class="list-group-item list-group-item-dark">Damage: {{damage}}%</li>
            <li class="list-group-item list-group-item-dark">Resist: {{resist}}%</li>
            <li class="list-group-item list-group-item-dark">Piercing: {{piercing}}</li>
            <li class="list-group-item list-group-item-dark">Incoming Boost: {{incomingboost}}%</li>
        </ul>
        <div class="botoesM" style="display:flex;flex-direction: column;">
            <button type="button" onclick="excluirM('{{_id}}')" class="btn btn-outline-success" style="margin: 15px 15px;">Utilizar</button>
            <button type="submit" class="btn btn-outline-danger" style="margin: 15px 15px;">Remover</button>
            <button type="submit" class="btn btn-outline-warning" style="margin: 15px 15px;">Editar</button>
        </div>
    </div>
    {{/each}}
</section>


